<html>
<h1>Please Login First</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    h1 {
        color: aliceblue;
    }

    body {
        margin-top: 100px;
        background-color: brown;
        text-align: center;
    }
</style>

<body>
    <br>
    <a href="/">
        <button class="btn btn-dark">Login</button>
    </a>
</body>

</html>