<html>
<h1>Hello</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    h1 {
        color: aliceblue;
    }

    body {
        margin-top: 100px;
        background-color: brown;
        text-align: center;
    }

    .data {
        color: aliceblue;
    }
</style>

<body>
    <div class="data">
        <%= data.email %>
    </div>
    <br>
    <a href="/logout">
        <button class="btn btn-dark">Logout</button>
    </a>
</body>

</html>